@using Chem.Controllers.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - chem.edza.lv</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("chem.edza.lv", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <div id="login">
                    @Html.Partial("_LoginPartial")
                    <br/>
                    <a href="/home/lang?isEnglish=true">ENG</a>
                    <a href="/home/lang?isEnglish=false">LAT</a>
                </div>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink(Local.GetInCurrentLang("Home"), "Index", "Home")</li>
                        <li>@Html.ActionLink(Local.GetInCurrentLang("Reagents"), "Index", "Reagent")</li>
                        <li>@Html.ActionLink(Local.GetInCurrentLang("Reactions"), "Index", "Reaction")</li>
                        <li>@Html.ActionLink(Local.GetInCurrentLang("Movies"), "Index", "Movie")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Eduards Vāvere (ev13043)</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
</body>
</html>
