@using Chem.Models;

@{

    ViewBag.Title = "Home Page";
    List<Movie> movies = (List<Movie>)ViewBag.Movies;
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <form method="get" target="_self">
                @Chem.Controllers.Utility.Local.GetInCurrentLang("SearchByHeading")
                <input name="title" /> <input value=">>" type="submit" />
            </form><br />
            <form method="get" target="_self">
                @Chem.Controllers.Utility.Local.GetInCurrentLang("SearchByReagents")
                @Html.Partial("_ReagentListControl", new List<Chem.Models.Reagent>())
                <input value=">>" type="submit" />
            </form>
        </div>
    </div>
}

@{
    string s = ViewBag.Query;
    if (s != "")
    {
        <text><h2>@Chem.Controllers.Utility.Local.GetInCurrentLang("SearchQuery")</h2></text>
        <h2>@s</h2>
    }
    else
    {
        <h3>@Chem.Controllers.Utility.Local.GetInCurrentLang("NewVideos")</h3>
    }
}

@if (movies.Count() > 0)
{
    
    <ol class="round">
        @foreach (Movie m in movies) { 
        <li>
            <h5>@m.Title</h5>
            <a href="/Movie/Details/@m.ID">@m.Desc</a>
            <div>
                <iframe width="250" height="150" src="//www.youtube.com/embed/@m.Url" allowfullscreen></iframe>
            </div>
        </li>
        }
    </ol>
}
