@model IEnumerable<Chem.Models.Reagent>
@using Chem.Models
@using Chem.Controllers.Utility

@{
    ViewBag.Title = "Index";
    var accessableReagents = (List<Reagent>)ViewBag.AccesableReagents;
}

<h2>@Chem.Controllers.Utility.Local.GetInCurrentLang("Index")</h2>

<p>
    @Html.ActionLink(Chem.Controllers.Utility.Local.GetInCurrentLang("CreateNew"), "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string s = "";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID). 
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
            @Html.ActionLink(">>", "Details", new { id=item.ID }) 
            @if(accessableReagents.Exists(item2 => item2.ID == item.ID)) {
                s = "|" + Html.ActionLink(@Chem.Controllers.Utility.Local.GetInCurrentLang("Edit"), "Edit", new { id = item.ID }).ToHtmlString() + " | " +
                Html.ActionLink("X", "Delete", new { id = item.ID }).ToHtmlString();
                if (Accounts.IsAdmin())
                {
                    s += "| <a href='/account/block/?userId=" + item.AddedById + "'>" + Chem.Controllers.Utility.Local.GetInCurrentLang("DeleteUser") + "</a>";
                }
            }
            
            @Html.Raw(s)
        </td>
    </tr>
}

</table>
