@model IEnumerable<Chem.Models.Movie>
@using Chem.Models
@using Chem.Controllers.Utility

@{
    ViewBag.Title = "Index";
    var accessableMovies = (List<Movie>)ViewBag.AccesableMovies;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string s = "";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @if (accessableMovies.Exists(item2 => item2.ID == item.ID))
            {
                s = "|" + Html.ActionLink("Edit", "Edit", new { id = item.ID }).ToHtmlString() + " | " +
                Html.ActionLink("Delete", "Delete", new { id = item.ID }).ToHtmlString();
                if (Accounts.IsAdmin())
                {
                    s += "| <a href='/account/block/?userId=" + item.AddedById + "'>Delete User</a>";
                }
            }
            @Html.Raw(s)
        </td>
    </tr>
}

</table>
