@using Chem.Models
@model Chem.Models.Reaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Reaction</legend>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Reagents)
    </div>
    <div class="display-field">
        @{var s = Model.Reagents.Aggregate<Reagent, string>("", (tog, th) => tog + Environment.NewLine + th.Name);}
        @(new HtmlString(s))
</div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
